/* start of file */
form > p {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #eee;
}

form p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: hsla(200, 10%, 50%, 0.64);
  transform: translateX(-110%);
  transition: transform 0.2s ease-out;
}
form p:focus-within::before {
  transform: translateX(0);
}
label {
  font-size: 1.2rem;
  flex-basis: 30%;
  padding: 0.25rem 1px;
  text-align: start;
  color: inherit;
  text-shadow: inherit;
}
input {
  font-size: 1.2rem;
  flex-basis: 100%;
  width: calc(100% - 2px);
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}
select,
option {
  font-size: 1.2rem;
  flex-basis: 100%;
  width: calc(100% - 2px);
  padding: 0.25rem 1rem;
}
button {
  border: none;
  background-color: cornflowerblue;
  color: #fff;
  flex-basis: 100%;
  width: calc(100% - 2px);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}
.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ccc;
}
.instructions span {
  padding-left: 2rem;
}
input:focus,
select:focus,
textarea:focus {
}
input:read-only {
}
input:read-write {
}
input:disabled {
}
input:required,
select:required,
option:required {
}
input:optional {
}
:placeholder-shown {
}
::placeholder {
}
input:valid {
}
input:invalid {
}
:in-range {
}
:out-of-range {
}
